<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./content/portafolio.css" />
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="./@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>
  <body class="logoSizeBg">
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class = "logoSize" src="./assets/images/logoFS.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-couch navBarIcons"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fas fa-child navBarIcons"></i>
    
                About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects"><i class="fas fa-puzzle-piece navBarIcons"></i>
    
                Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services"><i class="fas fa-robot navBarIcons"></i>Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fas fa-hands-helping navBarIcons"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav><br>
    <!-- nav bar -->

    <div class="container">
      <h1><%= title %></h1><br><br>
      <p>I am <span><b>Fabian Soto</b></span></p>
      <div >
        <img class="mediumSizedImgs" src="./assets/images/fabian_perfil.png" />
      </div>
      <p>
        I love to do things the best way possible. <br /><br />

        Recently, I started my second career now in software engineering
        technology. I was always very passionate about technology and very
        curious. I always wanted to learn and get into software engineering and
        programming but never took the chance before. Now I'm fully into it and
        I'm loving it!.<br /><br />

        I consider myself a good problem solver, and that's what good
        programmers should do.<br /><br />

        With the above, and my leadership experience and past entrepreneur
        projects, for sure I'm a very good candidate for any type of project. I
        wish to invest all this new knowledge in developing programs and
        platforms that could be beneficial and profitable for future projects or
        companies that might need my services.<br /><br />

        Graduated from Music & sound engineering.<br />
        Sound engineering, music, media editing, communications.<br /><br />

        Last but not least, my favourite hobby today is Gaming, streaming, and
        editing occasionally on youtube with my brand @directnrg.<br /><br />
      </p>
      <div class="centeredContentXL">
        <p>
          "If you don't believe in yourself, why others should believe in you?"
        </p>
      </div>
      <script src="./scripts/portafolio.js"></script>
      <script src="./jquery/dist/jquery.min.js"></script>
      <script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </div>

    <!--  bottom  -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Copyright &copy; 2021 - Fabian Soto</a>
        <p class="navbar-collapse">Student ID = 301153142</p>
      </div>
    </nav>
  </body>
</html>
